@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #50b0c8;
}

body {
    background-color: #e7eef6;
}

.container {
    width: 100%;
    font-size: 16px;
}


.navHeader h2 {
    font-weight: 600;
    color: var(--white-color);

}



nav {
    display: flex;
    background-color: var(--blue-color);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 9vh;
    padding-inline: 40vw;
    line-height: 9vh;
}

.sub-container {
    width: 90%;
    max-width: 45em;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    margin-bottom: 1em;

}

.container input:focus {
    border-color: #587ef4;
}

.BudgetContainer,
.user-amount-container {
    background-color: var(--white-color);
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    
}

.output-container{
    background-color: #587ef4;
    color: var(--white-color);
    border-radius: 0.3em;
    margin: 2em auto;
    padding: 1.2em;
    font-weight: 500;

}
.output-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}
.submit{
    font-size: 1em;
    margin-top: 1em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;

}
.list{
    background-color:var(--white-color) ;
    padding: 1.8em 1.2em;
    border-radius: 0.6em;
}
.hide{
    display: none;
}

.error{
    color: #ff465a;
}

@media screen and (max-width:640px) {
    .navHeader h2 {
        font-size: 14px;
    }

    nav {
        line-height: 4vh;
        font-weight: 400;
    }
}